@model IEnumerable<mlp.Models.Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <h1>Hello ponies!</h1>

    <nav>
        <a href="https://localhost:44384/Product/Index">Index</a>
    </nav>
</body>
</html>
